html, body, #root, .PlayGridDiv {
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
  table-layout: fixed;
}

table, td {
  border: 2px solid black;
}

td {
  text-align: center;
  border-spacing: 0;
	height: 50px;
	width: 50px;
  margin: 0; padding: 0;
}